a {
    color: rgb(255, 78, 78);
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

hr {
    height: 1px;
    background-color: white;
    margin: 1rem 0;
}

.homepage-body {

    margin-left: 15vw;
    margin-right: 15vw;

}

body {
    font-size: 1.25rem;
    background-color: rgb(14, 14, 14);
    color: white;
    font-family: sans-serif;
}

.header {
    margin-top: 3rem;
}
.name {
    font-size: 1.5em;
}

.ceiling-fan {
    position: absolute;
    top: 0;
    right: 15vw;
    width: 200px;
    z-index: 999;
    pointer-events: none;
}

.projects-container a {
    display: block;
    margin-bottom: 0.25rem;
}

.bingo-card {
    width: 50vw;
}

@media (max-width: 1000px) {
  .bingo-card {width: 100vw}
}
