a {
    color: rgb(255, 78, 78);
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

hr {
    height: 1px;
    background-color: white;
    margin: 1rem 0;
}

body {
    background-color: rgb(14, 14, 14);
    color: white;
    margin-left: 15vw;
    margin-right: 15vw;
    font-family: sans-serif;
}

.header {
    margin-top: 3rem;
}
.name {
    font-size: 1.5em;
}

.ceiling-fan {
    position: relative;
    top: 0;
    right: 0;
    width: 300px;
    z-index: 999;
    pointer-events: none;
}

.projects-container a {
    display: block;
    margin-bottom: 0.25rem;
}
