body {
    font-family: Georgia;
    font-size: 1.15rem;
    line-height: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.body-title, .title-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-title, .title-image, .body-text {
    grid-column-start: 3;
    grid-column-end: 3;
}

.body-title {
    grid-row-start: 1;
    grid-row-end: 1;
}

.title-image {
    grid-row-start: 2;
    grid-row-end: 2;
}

.body-text {
    grid-row-start: 3;
    grid-row-end: 20;
}

.image-1 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 7;
}

.image-2 {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 15;
    grid-row-end: 16;
}

.body-image {
    width: 80%;
}
